<h1>Listing quality_measures</h1>

<table>
  <tr>
    <th>Media file</th>
    <th>Quality dimension</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quality_measures.each do |quality_measure| %>
  <tr>
    <td><%= quality_measure.media_file_id %></td>
    <td><%= quality_measure.quality_dimension_id %></td>
    <td><%= quality_measure.value %></td>
    <td><%= link_to 'Show', quality_measure %></td>
    <td><%= link_to 'Edit', edit_quality_measure_path(quality_measure) %></td>
    <td><%= link_to 'Destroy', quality_measure, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quality measure', new_quality_measure_path %>
