<p id="notice"><%= notice %></p>

<p>
  <b>Media file:</b>
  <%= @quality_measure.media_file_id %>
</p>

<p>
  <b>Quality dimension:</b>
  <%= @quality_measure.quality_dimension_id %>
</p>

<p>
  <b>Value:</b>
  <%= @quality_measure.value %>
</p>


<%= link_to 'Edit', edit_quality_measure_path(@quality_measure) %> |
<%= link_to 'Back', quality_measures_path %>
