<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @media_file.name %>
</p>

<p>
  <b>Kind:</b>
  <%= @media_file.kind %>
</p>


<%= link_to 'Edit', edit_media_file_path(@media_file) %> |
<%= link_to 'Back', media_files_path %>
