<%= form_for(@quality_dimension) do |f| %>
  <% if @quality_dimension.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quality_dimension.errors.count, "error") %> prohibited this quality_dimension from being saved:</h2>

      <ul>
      <% @quality_dimension.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :min %><br />
    <%= f.text_field :min %>
  </div>
  <div class="field">
    <%= f.label :max %><br />
    <%= f.text_field :max %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
