<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @quality_dimension.name %>
</p>

<p>
  <b>Min:</b>
  <%= @quality_dimension.min %>
</p>

<p>
  <b>Max:</b>
  <%= @quality_dimension.max %>
</p>


<%= link_to 'Edit', edit_quality_dimension_path(@quality_dimension) %> |
<%= link_to 'Back', quality_dimensions_path %>
