<h1>Listing media_files</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Kind</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @media_files.each do |media_file| %>
  <tr>
    <td><%= media_file.name %></td>
    <td><%= media_file.kind %></td>
    <td><%= link_to 'Show', media_file %></td>
    <td><%= link_to 'Edit', edit_artist_media_file_path(media_file) %></td>
    <td><%= link_to 'Destroy', media_file, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Media file', new_artist_media_file_path %>
